.dropdown:hover .menu-top {
    display: block;
    padding-bottom:12px;
    /* height:400px; */
}

.dropdown-submenu{
    width:100%;
    position:relative;
}

.dropdown-submenu > .dropdown-menu{
    top:0;
    left:100%;
    margin-top:0px;
    margin-left:0px;
    /* position:absolute; */
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
    /* position:absolute; */
    top:-3px;
    /* width:768px; */
    /* min-height:400px; */
    
    padding-bottom:12px;
    -webkit-border-radius:0 6px 6px 0px;
    -moz-border-radius:0 6px 6px 0px;
    border-radius:0 6px 6px 0px;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

input::-ms-clear{display:none;}

.search-key{
	background-color:yellow;
	color:black;
}

.search-key:hover {
}


