html {
    height: 95%;
}

a:hover {
    text-decoration: none; /* height:14px;	line-height:14px; */
}

/* input[type="text"]{border:1px solid #bcd3c7;font-size:14px;	line-height:30px;	height:30px;	border-radius:3px;	-moz-border-radius: 3px;    -webkit-border-radius: 3px;  background-color:#ffffff;  color:#333333;}
 */

input[type="text"].text {
    border: 1px solid #bcd3c7;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
    color: #333333;
}

table input {
    background: transparent;
}

/* select{font-size:14px;	line-height:30px;	height:30px;	border-radius:3px;	-moz-border-radius: 3px;    -webkit-border-radius: 3px;    color:#333333;}
 */
select.form-control {
    height: 30px;
    font-size: 13px;
}

*.float-right {
    float: right;
}

*.float-left {
    float: left;
}

*.width90 {
    width: 90%
}

*.width100 {
    width: 100%
}

div { /* margin:8px 0;padding:4px; */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

body.main {
    margin: 0;
    font-size: 14px;
    min-width: 1024px;
    height: 99%;
    font-family: Microsoft YaHei, Verdana;
    line-height: 1.5;
    background: #e9edf1;
}

div.div-content {
    margin: 12px 12px 1px 12px;
    padding: 8px 15px 1px 15px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.div-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    line-height: 55px;
    text-align: right;
    padding-right: 12px;
    background-color: #fdfdfe;
    -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0px -4px 4px rgba(0, 0, 0, .175);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, .175);
}

div.div-toolbar {
    background-color: #e9f7ff;
    height: 45px;
    line-height: 45px;
    margin: 8px 0;
    padding-left: 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

div.table-toolbar {
    background: transparent;
    height: 30px;
    line-height: 30px;
    margin: 8px 0;
}

div.table-toolbar-left {
    float: left;
}

div.table-toolbar-right {
    float: right;
}

div.table-content {
    font-size: 13px;
    text-align: center;
    margin-top: 18px;
}

/*div ����*/
div.gray {
    background: #e9edf1;
}

/*�����ʽ*/
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    cursor: pointer;
    background-color: #F1F9FF;
}

thead {
    background-color: #F2F2F2;
}

.tr-onClick {
    background-color: #F1F9FF;
}

table > tbody > tr > td > a:hover {
    color: #e85c00;
}

table.table-hover > thead > tr > th {
    text-align: center;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0;
}

/*��ť��ʽ*/
button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

button.btn-inner-all-blue {
    height: 30px;
    line-height: 30px;
    background-color: #0090eb;
    color: #ffffff; /* margin:0 5px; */
    padding: 0 20px;
    font-size: 14px;
    border: 0;
}

button:hover.btn-inner-all-blue {
    background-color: #0073cf;
    color: #ffffff;
}

button.btn-inner-blue {
    height: 30px;
    line-height: 24px;
    background-color: #ffffff;
    color: #0090eb;
    padding: 3px 20px;
    font-size: 14px;
    border: 1px solid #0090eb;
}

button:hover.btn-inner-blue {
    background-color: #ffffff;
    color: #0073cf;
    border: 1px solid #0073cf;
}

button.btn-inner-orange {
    height: 30px;
    line-height: 24px;
    background-color: #ffffff;
    color: #ff6500;
    padding: 3px 20px;
    font-size: 14px;
    border: 1px solid #ff6500;
}

button:hover.btn-inner-orange {
    background-color: #ffffff;
    color: #e85c00;
}

button.btn-general {
    height: 37px;
    line-height: 37px;
    background-color: #0090eb;
    color: #ffffff; /* margin:0 5px; */
    font-size: 13px;
    padding: 0 20px;
}

button:hover.btn-general {
    height: 37px;
    line-height: 37px;
    background-color: #0073cf;
    color: #ffffff; /* margin:0 5px; */
    font-size: 13px;
    padding: 0 20px;
}

button.btn-special {
    height: 37px;
    line-height: 37px;
    background-color: #ff6500;
    color: #ffffff; /* margin:0 5px; */
    font-size: 13px;
}

button:hover.btn-special {
    height: 37px;
    line-height: 37px;
    background-color: #e85c00;
    color: #ffffff; /* margin:0 5px; */
    font-size: 13px;
}

/* ��ҳ��ǩ��ʽ����*/
i.pre-Page1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrowPageL.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 24px;
    cursor: pointer;
}

i.pre-Page2 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrowPageLH.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 24px;
    cursor: pointer;
}

i.next-Page1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrowPageR.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 24px;
    cursor: pointer;
}

i.next-Page2 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/arrowPageRH.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 24px;
    cursor: pointer;
}

span.toolbar {
    color: #666666;
    height: 27px;
    line-height: 27px;
    display: inline-block;
}

div.panel-heading {
    font-weight: bold;
    text-align: left;
    padding: 12px 0;
}

i.mark {
    float: left;
    display: inline-block;
    width: 3px;
    height: 16px;
    background: #ff8325;
    margin: 2px 8px 0 0;
    padding: 0px;
}

i.red {
    color: #ff8325;
}

span.title {
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    display: inline-block;
}

/*���Ҳ���*/
div.div-content-h {
    background: transparent;
    height: 92%;
    margin-top: 12px;
}

div.div-content-h > div.left {
    height: 99%;
    float: left;
    padding: 16px;
    margin-left: 8px;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.div-content-h > div.right {
    height: 99%;
    float: right;
    padding: 16px;
    margin-right: 6px;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.div-toolbar-gray {
    background-color: #f6f6f6;
    height: 92%;
    margin: 0 0 8px 0;
    padding: 0 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*��*/
div.mkt-tree {
    margin-top: 16px;
    padding-top: 11px;
    background-color: #f6f6f6;
    height: 90%;
}

/*TABҳ��ʾ*/
.nav-tabs1 {
    font-size: 15px;
    overflow: hidden;
    zoom: 1;
    padding-left: 1px;
    height: 38px;
}

.nav-tabs1 > li {
    height: 38px;
    background: #F9FAFC;
    margin-left: -1px;
    border: 1px solid #ccc;
    float: left;
    font-weight: bold;
    cursor: pointer;
    padding: 0 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.nav-tabs1 > li > a:link, .nav-tabs1 > li > a:focus, .nav-tabs1 > li > a:hover {
    padding: 6px;
    color: #666;
    background-color: initial;
}

.nav-tabs1 > li.active, .nav-tabs1 > li.active:hover, .nav-tabs1 > li.active:focus {
    /* font-weight: bold;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #10a6ee;
    border-top: 4px solid #62b5f8; */
    font-weight: bold;
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: 4px solid #62b5f8;
}

.nav-tabs1 > li.active a {
    color: #10a6ee;
}

.nav-tabs1.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs1.nav-justified > li {
    float: none;
}

.nav-tabs1.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-tabs1.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

.well-color {
    background-color: #FFFFFF;
}

.container-qry {
    background-color: #e9f7ff;
    width: auto;
    height: auto;
}

.container-second {
    margin-bottom: 9px;
    width: auto;
    height: 61px;
}

.notice {
    padding-left: 10px;
}