
div.grant-left{
	float:left;
	width:47%;
	height:98%;
}

div.grant-mid{
	float:left;
	width:5%;
	height:98%;
	line-height:98%;
	background:url(../img/arrowTag.png) no-repeat right;
}

div.grant-right{
	float:right;
	width:47%;
	height:98%;
}